.container {
    display: flex;
    text-align: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    border: 1px silver solid;
}

.square {
    height: 350px;
    width: 350px;
    border: 0.5px silver solid;
    margin-top: 30px;
    border-radius: 10px;
}

.button-container {
    padding: 20px;
    margin: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.bro {
    border-radius: 8px;
    font-size: 30px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
    transition: background-color 0.1s ease, transform 0.1s ease;
}

.red {
    background-color: red;
}

.red:hover {
    background-color: rgb(238, 123, 123);
    transform: scale(1.05);
}

.green {
    background-color: green;
}

.green:hover{
    background-color: rgb(117, 167, 117);
    transform: scale(1.05);
}

.blue {
    background-color: blue;
}

.blue:hover {
    background-color: rgb(143, 143, 202);
    transform: scale(1.05);
}

.yellow {
    background-color: yellow;
}

.yellow:hover {
    background-color: rgb(219, 219, 162);
    transform: scale(1.05);
}

.cyan {
    background-color: cyan;
}

.cyan:hover {
    background-color: rgb(187, 238, 238);
    transform: scale(1.05);
}

.purple {
    background-color: purple;
}

.purple:hover {
    background-color: rgb(187, 148, 187);
    transform: scale(1.05);
}

.orange {
    background-color: orange;
}

.orange:hover {
    background-color: rgb(211, 189, 150);
    transform: scale(1.05);
}

.reset {
    background-color: rgba(0, 0, 0, 0.801);
}

.reset:hover {
    background-color: rgba(0, 0, 0, 0.315);
    transform: scale(1.05);
}
