body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: whitesmoke;
}

.testimonial-container {
    position: relative;
    width: 500px;
    height: 100px;
    background-color: rgba(13, 80, 100, 0.767);
    border-radius: 10px;
    min-width: 400px;
    padding: 90px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    color: white;
    margin: 5px;
}

img {
    width: 140px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    top: -50px;
}

.username {
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}

.text {
    text-align: center;
    font-size: 30px;
}