body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100vh;
    justify-content: center;
    overflow: hidden;
    background-color: black;
}

.images-container {
    position: relative;
    height: 200px;
    width: 200px;
    transform-style: preserve-3d;
    transform: perspective(1000px) rotateY(0deg);
    transition: transform 0.5s;
}

.images-container span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transform: rotateY(calc(var(--i) *45deg)) translateZ(400px);
}

.images-container span img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.btn-container {
    position: relative;
    width: 80%;
}

.btn {
    position: absolute;
    cursor: pointer;
    bottom: -80px;
    font-size: 25px;
    font-weight: bold;
    border-radius: 10px;
    padding: 10px 20px;
    border: none;
    color: white;
    background-color: rgb(59, 108, 243);
}

.btn:hover {
    background-color: aqua;
}

#prev {
    left: 20%;
}

#next {
    right: 20%;
}