body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-color: black;
    color: whitesmoke;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.container {
    position: relative;
    text-align: center;
    width: 600px;
}

.message {
    font-size: 50px;
    padding-bottom: 30px;
}

.counter {
    font-size: 50px;
    padding-bottom: 20px;
}

.loading-back {
    position: absolute;
    height: 20px;
    background-color: lightgray;
    width: 100%;
    border-radius: 10px;
    border: none;
}

.loading-front {
    position: absolute;
    height: 20px;
    background-color: skyblue;
    width: 0%;
    border-radius: 10px;
    border: none;
}
